*{
	margin: 0 auto;
	padding: 0;
}
.Top-top{
	background-color: #00A0E9;
	color: white;
	line-height: 40px;
}
.Top-top h4{
	margin-left:7px;
	float: left;
}
.Top-top h4 a img{
	display: inline-block;
	float: left;
}
.Top-top .Top-top-font{
	font-size: 13px;
	color: #EBF8FD;
	text-decoration: none;
	margin-left: 10px;
}
.Top-top #top-img{
	margin-left: 20px;
}
.Top-top #first{
	margin-left: 280px;
}
.Top-top #top-right{
	padding: 3px 5px;
	margin-left: 190px;
	font-size: 13px;
	color: #EBF8FD;
	border: 1px solid #007AB3;
	text-decoration: none;
	border-radius: 2px;
}
.banner{
	background-color: #F0F1F5;
}
.banner .banner-top select{
	color: #868687;
	border: none;
	background-color: #F0F1F5;
	position: relative;
	left: 160px;
	top: 50px;
}
.banner .banner-top select:hover{
	color: #F3A79A;
	cursor: pointer;
}
.banner .banner-top-logo{
	text-align: center;
}
.banner .banner-top-logo img{
	margin: 0 auto;
	position: relative;
	top: 20px;
}
.banner .banner-top-logo img:hover{
	cursor: pointer;
}
.banner .capital{
	text-align: center;
	margin-top: 50px;
}

.banner .capital span{
	margin-left: 30px;
	font-size: 13px;
	font-weight: bolder;
	color: #797979;
}
.banner .capital span:hover{
	color: #F3A79A;
	cursor: pointer;
	transition: all linear 0.2s;
}
.banner .banner-containner{
	padding-right: 100px;
}
.banner .banner-containner img{
	float: right;
	margin-right: 100px;
	margin-top: 100px;
}
.banner .banner-containner .banner-containner-font{
	font-size: 50px;
	font-weight: bolder;
	margin-bottom:50px;
	line-height: 620px;
	margin-left: 300px;
	color: #313131;
}
.banner .banner-containner .banner-containner-num{
	color: #F3A79A;
}
.banner-containner-second{
	font-size: 16px;
	color: #787878;
	word-wrap: break-word;
	margin-left:20px ;
	position: relative;
	bottom: 100px;
	left: 200px;
}
.banner .banner-containner a{
	color: #525253;
	text-decoration: none;
	font-size: 13px;
	font-weight: bolder;
}
#img-left{
	margin-top: 100px;
}
#img-left img{
	border: 1px solid #F3A395;
	position: relative;
	left: 250px;
}
#img-left .tf-font1{
	position: relative;
	left: 90px;
	bottom: 130px;
	color: #646161;
	font-size: 25px;
	font-weight: bolder;
}
#img-left .tf-font2{
	position: relative;
	left: 460px;
	bottom: 160px;
	color: #646161;
	font-size: 25px;
	font-weight: bolder;
}
#img-left .font-img img{
	border: none;
	display: inline;
	position: relative;
	bottom: 155px;
	margin-left: 270px;
}
#img-ld img{
	border: 1px solid #F3A395;
	position: relative;
	left: 250px;
}
#img-ld .ld-font1{
	font-size: 20px;
	color: #6C6969;
	position: relative;
	bottom: 125px;
	right: 100px;
}
#img-ld .ld-font2{
	font-size: 25px;
	font-weight: bolder;
	color: #646161;
	position: relative;
	bottom: 95px;
	right: 205px;
}
#img-ld .ld-font3{
	font-size: 25px;
	font-weight: bolder;
	color: #F3A395;
	position: relative;
	bottom: 95px;
	right: 205px;
}
#img-middle{
	position: relative;
	top: 0px;
}
#img-middle img{
	position: absolute;
	left: 650px;
	bottom: 20px;
}
#img-middle .md-font1{
	font-size: 25px;
	color: #646161;
	position: absolute;
	left: 730px;
	bottom: 450px;
}
#img-middle .md-font2{
	font-size: 25px;
	font-weight: bolder;
	color: #F3A395;
	position: absolute;
	left: 770px;
	bottom: 60px;
}
#img-right{
	position: relative;
	top: 0px;
}
#img-right img{
	position: absolute;
	left: 1050px;
	bottom: 325px;
	border: 1px solid #F3A395;
}
#img-right .rt-font1{
	font-size: 18px;
	color: #646161;
	position: absolute;
	left: 1080px;
	bottom: 450px;
}
#img-right .rt-font2{
	font-size: 25px;
	color: #646161;
	position: absolute;
	left: 1080px;
	bottom: 420px;
}
#img-right .rt-font3{
	font-size: 25px;
	color: #F3A395;
	position: absolute;
	left: 1160px;
	bottom: 420px;
}
#img-rd{
	position: relative;
	top: 0px;
}
#img-rd img{
	position: absolute;
	left: 1050px;
	bottom: 90px;
	border: 1px solid #F3A395;
}

#img-rd .rd-font1{
	position: relative;
	left: 1250px;
	bottom: 125px;
	color: #646161;
	font-size: 25px;
	font-weight: bolder;
}
#img-rd .rd-font2{
	position: relative;
	left: 1250px;
	bottom: 150px;
	color: #646161;
	font-size: 25px;
	font-weight: bolder;
}
#img-rd .font-img img{
	border: none;
	display: inline;
	position: relative;
	bottom: 150px;
	margin-left: 255px;
}
.container{
	position: relative;
	top: 0px;
}
.container .h1{
	border: 1px solid #292929;
	width: 160px;
	position: relative;
	left: 380px;
	top: 10px;
	display: inline-block;
	background-color: black;
}
.container .h2{
	border: 1px solid #292929;
	width: 160px;
	position: relative;
	left: 800px;
	top: 10px;
	display: inline-block;
	background-color: black;
}
#container-head{
	font-size: 32px;
	position: absolute;
	left: 650px;
	top: 3px;
}
.container-head-font{
	font-size: 13px;
	text-decoration: none;
	color: #2B2B2B;
	position: relative;
	left: 105px;
	top: 60px;
	font-weight: bolder;
	margin-left: 100px;
	letter-spacing:2px;
}
.container #first{
	color: #F3A395;
}
.container-head-font:hover{
	color: #F3A395;
	transition: all linear 0.2s;
}
.container-middle{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1080px;
	height: 500px;
}
.container-middle .product{
	margin-top: 100px;
	width: 250px;
	text-align: center;
}
.container-middle .product img{
	width: 250px;
}
.container-middle .product img:hover{
	cursor: pointer;
	transform: scale(1.2);
	transition: all linear 0.2s; 
}
.container-middle .product .name{
	color: #696969;
	text-decoration: none;
	font-size: 16px;
	position: relative;
	top: 20px;
}   
.container-middle .product .name:hover{
	color: #F3A395;
	transition: all linear 0.2s;
}
.container-middle .product .original-price{
	display: inline-block;
	color: #666666;
	position: relative;
	top: 80px;
	right: 130px;
	font-size: 14px;
	text-decoration: line-through;
}
.container-middle .product .price{
	display: inline-block;
	color: #646464;
	position: relative;
	top: 55px;
	left: 20px;
	font-size: 20px;
	font-weight: bolder;
}
.container-bottom{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 130px;
}

.container-bottom img{
	width: 730px;
	height: 330px;
}
.Collection-head{
	margin-top: 100px;
	position: relative;
	top: 0px;
}
.Collection-head .h1{
	border: 1px solid #292929;
	width: 160px;
	/*position: relative;
	left: 380px;
	top: 10px;*/
	display: inline-block;
	background-color: black;
}
.Collection-head .h2{
	border: 1px solid #292929;
	width: 160px;
	/*position: relative;
	left: 800px;
	top: 10px;*/
	display: inline-block;
	background-color: black;
}
.Collection-head #container-head{
	font-size: 32px;
	/*position: absolute;
	left: 650px;
	top: 3px;*/
}
.Collection-head .Collection-middle{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0px 175px;
}
.Collection-head .Collection-middle img{
	width: 600px;
}
.Collection-head .Collection-middle .img-font{
	position: relative;
	top: 0px;
}
.Collection-head .Collection-middle .img-font img{
	width: 250px;
}
.Collection-head .Collection-middle .img-font a{
	color: #696969;
	text-decoration: none;
	font-size: 16px;
	position: absolute;
	top: 320px;
	right: 50px;
	white-space:nowrap;
}
.Collection-head .Collection-middle .img-font a:hover{
	color: #F3A79A;
	transition: all linear 0.2s; 
}
.Collection-head .Collection-middle .img-font span{
	display: inline-block;
	color: #646464;
	position: absolute;
	top: 350px;
	left: 50px;
	font-size: 20px;
	font-weight: bolder;
}
.bigbanner{
	margin-top: 150px;
	background-color: #F0F1F5;
	padding: 50px 100px;
}
.bigbanner .left{
	float: left;
	display: inline-block;
}
.bigbanner .right{
	position: relative;
	left: 1070px;
	bottom: 500px;
	display: inline-block;
}
.bigbanner .center a{
	text-decoration: none;
	color: #646464;
	font-size: 28px;
	position: relative;
	left: 250px;
}
.bigbanner .center span{
	position: relative;
	left: 380px;
}
.bigbanner .center .original-price{
	color: #B3B3B3;
	font-size: 22px;
	position: relative;
	left: 330px;
	top: 50px;
	
}
.bigbanner .center .price{
	color: #646464;
	font-size: 26px;
	position: relative;
	left: 340px;
	top: 50px;
	font-weight: bolder;
}
.bigbanner .center .time{
	font-size: 45px;
	color: #646464 ;
	position: relative;
	left: 260px;
	top: 80px;
}
.bigbanner .center #btn{
	position: relative;
	top: 120px;
	border-radius: 2px;
	padding: 5px 5px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	background-color: #F3A395;
	color: white;
}
.bigbanner .center{
	height: 500px;
}
